@charset "utf-8";

nav ul{margin:0; padding:0; list-style:none;}

/* Top Navigation------------------------------------------------------------------------- */

.wrapper #topnav{padding:20px 0;}
#topnav ul{width:80%; margin:auto;}
#topnav ul li{
			display:inline-block; 
			margin:0 0 0 15px; padding:0 0 0 15px; 
			border-left:3px double #000000; 
			text-transform:uppercase;}
#topnav ul li:first-child{margin:0; padding:0; border-left:none;}
#topnav ul li li{margin:0; padding:0; border:none; text-align:left; font-style:normal;}
#topnav ul li li:first-child{margin:0;}
#topnav ul li a:link, #topnav ul li a:visited, #topnav ul li a:hover{
			display:block; margin:0; padding:0; 
			color:#000000; background-color:#e9a91c;
			border:.1px solid #e9a91c; box-sizing:border-box;}
#topnav ul li a:hover, #topnav ul li.active a{
			padding:1px 3px; margin:-3px;
			color:#e9a91c; background-color:#000000; 
			border:.2px double #000000; border-radius:5px;
			box-sizing:border-box;}
#topnav ul li ul li a:link, #topnav ul li ul li a:visited{
			width:150px; float:none; 
			margin:0; padding:10px 10px; 
			text-transform:none; font-weight:normal; 
			color:#e9a91c; background-color:#000000; 
			border-bottom:1px solid black;}
#topnav ul li ul li a:hover{
			color:#e9a91c; background-color:#000000; 
			border:.2px double #000000; border-radius:5px;
			box-sizing:border-box; }
#topnav ul ul{
			z-index:9999; position:absolute; 
			left:-999em; height:auto; width:170px; 
			padding:5px 0 0 0; border-bottom:1px solid #000000;}
#topnav ul ul a{width:140px; }
#topnav ul li:hover ul{left:auto;}
#topnav ul li:hover{position:static;}
#topnav ul li.last{}

/* Column Navigation---------------------------------------------------------------------- */

#container aside nav{display:block; width:205px; margin:0 0 0 80px;}
#container aside h2{display:block; width:200px; margin:0 85px 0 80px;}
#container aside nav ul{margin:0; padding:0; list-style:none;}
#container aside nav li{margin:0 0 3px 0; padding:0; color:#800000; }
#container aside nav ul ul, #container aside nav ul ul ul, 
#container aside nav ul ul ul ul, #container aside nav ul ul ul ul ul{
				border-top:none; padding-top:0;}
#container aside nav a{
		display:block; margin:0; 
		padding:5px 10px 5px 20px;	color:#800000; 
		background:url("images/orange_file.gif") no-repeat 10px center #FFFFFF; 
		text-decoration:none; border:2px outset #666666; border-radius:10px; }
#container aside nav a:hover{color:#ffffff; background-color:#800000;}
#container aside nav ul ul a, #container aside nav ul ul ul a, 
#container aside nav ul ul ul ul a, #container aside nav ul ul ul ul ul a{
				background:url("images/black_file.gif") no-repeat #FFFFFF;}
#container aside nav ul ul a{padding-left:40px; background-position:30px center;}
#container aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
#container aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#container aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}